
@{
    ViewBag.Title = "Test";
}
@section scripts{
    
<script src="~/Scripts/Applications/Logic.js"></script>
 
    <script>
        $(function () {
            Initroom();
        })
    </script>
    
       }


<h2>Testi käyttis</h2>
<fieldset>
    <input id="Insertbutton" type="button" value="Tallenna huone" />
    <input id="Huone" type="text" />
</fieldset>
   
    <fieldset>
        <div class="btn-group">
            <a class="btn btn-default" href="#">Valitse huone</a>
            <a class="btn btn-default dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Huone 1</a></li>
                <li><a href="#">Huone 2</a></li>
            </ul>
        </div>
    
        <input id="Lampotila" type="text" placeholder="Lampotila" />
        <input id="Valo" type="text" placeholder="Valo" />
        <input id="Lampotilabutton" type="button" value="Päivitä" />
    </fieldset>



